{% extends "melodylounge/layout.html" %}

{% block body %}
<div id="search-tab" class="tab">
    <h1>Search</h1>
<hr>
    <form id="search-form">
        <input type="text" name="search_query" id="search-box" placeholder="Search for a song here"> 
        <input type="submit" value="Search">
    </form>
</div>

<div id="home-tab" class="tab">
    <h1>Welcome to <span style="font-family: 'JetBrains Mono', sans-serif;">MelodyLounge</span>!</h1>
    <div>Search for a song or open the playlists tab to start listening!</div> <br>
    <div>Don't know what to listen to? Try these suggestions below!</div>
</div>

<div id="playlists-tab" class="tab">
    <h1>Playlists</h1>
    <hr>
    <h1>My Playlists</h1>
    <div id="my-playlists-container"></div>
    <hr>
    <h1>Create a playlist</h1>
    <form id="new-playlist-form">
        <input type="text" name="title" placeholder="Playlist title">
        <input type="submit" value="Create Playlist">
    </form>
</div>

<div id="profile-tab" class="tab">
    <h1 id="profile-name">Profile:</h1>
</div>

<div id="songs-in-playlist-tab" class="tab"></div>

<div id="songs-display">
</div>

<div id="audio-controller-wrapper">
    
    <div id="currently-playing"></div>
    
    <audio controls id="audio-player"></audio>
</div>

<script>
const USERNAME = "{{ user.username }}"; 
const CSRF_TOKEN = "{{ csrf_token }}" 

const CSRF_HEADERS = {
    "X-CSRFToken": CSRF_TOKEN
}
</script>
<script src="/static/melodylounge/search.js"></script>
<script src="/static/melodylounge/profile.js"></script>
<script src="/static/melodylounge/playlist.js"></script>
{% endblock %}