{% extends "melodylounge/layout.html" %}

{% block body %}
<div style="margin: 1em;">
    <h1>Publish</h1>
    
    <form action="{% url 'publish' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form-group">
            <label>Song File</label> <br>
            <div>
                <input required type="file" name="song_file" id="" accept="audio/x-wav"> <br> <br>
            </div>

            <label>Title</label> 
            <div>
                <input type="text" name="title" id=""> <br><br>
            </div>

            <label>Explicit</label>
            <div class="form-check form-switch">
                <input type="checkbox" class="form-check-input checkbox" name="explicit" id="">
            </div>
            <br><br>
            <input type="submit" value="Upload Song">
        </div>
    </form>
</div>
{% endblock %}