{% extends "melodylounge/layout.html" %}

{% block body %}
<h1>Publish</h1>

<form action="{% url 'publish' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label>Song File</label>
    <input required type="file" name="song_file" id="" accept="audio/x-wav"> <br> <br>

    <label>Title</label>
    <input type="text" name="title" id=""> <br><br>

    <label>Explicit</label>
    <input type="checkbox" name="explicit" id="">

    <br><br>
    <input type="submit" value="Upload Song">
</form>
{% endblock %}