{% extends 'melodylounge/layout.html' %}

{% block body %}
<div class="container w-25">
    <br>
    <h2 class="text-center">Register for <span style="font-family: 'JetBrains Mono', sans-serif;">MelodyLounge</span></h2> <br>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div>
            <input class="w-100" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div>
            <input class="w-100 mt-3" type="email" name="email" placeholder="Email Address">
        </div>
        <div>
            <input class="w-100 mt-3" type="password" name="password" placeholder="Password">
        </div>
        <div>
            <input class="w-100 mt-3" type="password" name="confirmation" placeholder="Confirm Password">
        </div> <br>

        
        <div class="text-center">
            <input type="submit" value="Register">
            <br><br>

            <div class="almost-transparent">Already have an account? Click <a href="{% url 'login' %}">here</a> to log in!</div>
        </div>

    </form>
</div>

{% endblock %}